*.txt
!requirements.txt
.DS_Store
**/__pycache__
**/results_backup
**/results
**/embeddings
**/images
**/tmp*


data/Planetoid
data/coauthor
data/Twitch
data/pileup
data/wiki_new
data/stl10/*.pt
data/cifar10/*.pt
data/**/*.py
!data/stl10/features.pkl
!data/cifar10/features.pkl

try.py
try*.sh